

#contact_modal {
    display: none;  
}

.photograph-header {
    background-color: #FAFAFA;
    height: 313px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    background-color: #D3573C;
    color: black;
    transition: 0.3s;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    display: flex;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 0;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-items: start;
}

#photographerName{
    text-align:start;
}

.modal header img {
    opacity: .5;
    cursor: pointer;
    margin-top: 20px;
}

.modal header img:hover {
    opacity: 1;
    transition: 0.3s;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: start;
    margin: 0px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
}

textarea{
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    border: none;
    width: 100%;
    height: 170px;
    border-radius: 5px;
}

.photograph-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article h1{
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

article h2{
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

article h3 {
    color: #901C1C;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
}

article h4 {
    margin: 0;
    
    font-size: 18px;
    font-weight: 400;
}


.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    clip-path: circle(100px at center);
}

