@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.photographer_section a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section section {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


a:hover {
    cursor: pointer;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 5px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    clip-path: circle(100px at center);
    
}

.photographer_section article section h3 {
    color: #901C1C;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 13px;
}

.photographer_section article section h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 10px;
}

.photographer_section article section p {
    color: #757575;
    font-size: 9px;
    margin: 0;
}

.media_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}




